<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039570768518-q0l99c9qh1bfsl80a4j12qcv4ncblfb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039570768518-q0l99c9qh1bfsl80a4j12qcv4ncblfb8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039570768518-9t6r41r817sqnfulq3r64gjbmolaibtc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIWjISdA4O5ittOfqb_tEBOWxot7x88uI</string>
	<key>GCM_SENDER_ID</key>
	<string>1039570768518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SnaTApp.SnaT</string>
	<key>PROJECT_ID</key>
	<string>snat-9d4d6</string>
	<key>STORAGE_BUCKET</key>
	<string>snat-9d4d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039570768518:ios:c549735d372c252b87b707</string>
</dict>
</plist>